/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
  background-image: url('background.jpg');
}

div {
  color:#ffffff;
}

svg {
  border: 1px solid red;
}
/*
@-webkit-keyframes rotation{
  0% { -webkit-transform: rotate(0deg);}
  50% { -webkit-transform: rotate(180deg);}
  100% { -webkit-transform: rotate(360deg);}
}

.enemy{
  -webkit-animation: rotation 5s linear infinite;
}
*/
