/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
  background-image: url('background.jpg');
}

div {
  color:#ffffff;
}

svg {
  border: 1px solid red;
}

@-webkit-keyframes rotation{
  0% { -webkit-transform: rotate(0deg);}
  10% { -webkit-transform: rotate(180deg);}
  20% { -webkit-transform: rotate(360deg);}
  30% { -webkit-transform: rotate(0deg);}
  40% { -webkit-transform: rotate(180deg);}
  50% { -webkit-transform: rotate(360deg);}
  60% { -webkit-transform: rotate(0deg);}
  90% { -webkit-transform: rotate(180deg);}
  100% { -webkit-transform: rotate(360deg);}
}

.enemy{
  -webkit-transform-origin: center;
  -webkit-animation: rotation 3s linear infinite;
}

